//- _paginate.jade

//- This examples makes use of Bootstrap 3.x pagination classes

if paginate.hasPreviousPages || paginate.hasNextPages(pageCount)
  .navigation.well-sm#pagination
    ul.pager
      if paginate.hasPreviousPages
        li.previous
          a(href=paginate.href(true)).prev
            span(class="glyphicon glyphicon-chevron-left",aria-hidden="true")
            | More
      if paginate.hasNextPages(pageCount)
        li.next
          a(href=paginate.href()).next
            | Fewer&nbsp;
            span(class="glyphicon glyphicon-chevron-right",aria-hidden="true")