.left-nav
	.topbar
		h1 WZLY INTERFACE
	img(src='/images/assets/logo.png', class="prof-pic")
	h2 Admin
	ul
		li.active
			a(href='/admin/library')
				img(src="/images/icons/library-active.png")
				| Library
		li 
			a(href='/admin/stream')
				img(src="/images/icons/stream.png")
				| Stream
		li 
			a(href='/admin/charts')
				img(src="/images/icons/charts.png")
				| Charts
		li 
			a(href='/admin/scheduler')
				img(src="/images/icons/scheduler.png")
				| Scheduler
		li 
			a(href='/admin/users')
				img(src="/images/icons/profile.png")
				| Users
		li 
			a(href='/admin/events')
				img(src="/images/icons/events.png")
				| Events
		li 
			a(href='/admin/eboard')
				img(src="/images/icons/eboard.png")
				| Eboard