extends layout-temp

block content
  .container
    //
       Above the content box things 
    h3.logout.pull-right
      i.icon.icon-off
      | Logout
    h1 Admin
    .content
      //
         Navigation 
      .side-menu
        ul
          li.manager Music Manager
          li.users Users
          li.schedule
            a(href='scheduler.html') Schedule
          li.events Events
          li.board Exec Board
      .controls
        .musicmanager.control
          .semester-modal.modal.hide.fade
            form.clear-form(action='/clear', method='post')
              .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h3 Clear Semester
              .modal-body
                strong Are you sure you want to clear the semester?
                br
                | This will clear all items from the music library, as well as the schedule and this semester's events.
                hr
                | Additionally, you can clear the records for the year in preparation for the new school year. This will, in addition to the changes above, remove all Executive Board Members and DJs as well as their profiles and playlists. Would you like to do this?
                br
                br
                select.input-small(name='clear_year')
                  option No
                  option Yes
                hr
                | You must enter password to make this change:
                br
                input(type='text', name='clear_password')
              .modal-footer
                button.btn(type='submit') Clear
          ul.top-menu
            li.op1 Manage Albums
            li.op2 View Charts
            li
              a(href='.semester-modal', role='button', data-toggle='modal') Clear Semester
          .musicmanager-library
            h2 Add Album
            form.add-album-form.form-inline(action='/library', method='post')
              input#album.span4(type='text', name='album', placeholder='Album Name')
              input#artist.span4(type='text', name='artist', placeholder='Artist Name')
              button#add-album.btn(type='submit') Add
            p.hr_response The Suburbs by Arcade Fire is #34.
            h2 Current Library
            table.table.table-striped.table-condensed.table-albums
              thead
                tr
                  th Number
                  th Album
                  th Artist
          .musicmanager-charts
            .charts-modal.modal.hide.fade
              .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h3 Past Charts
              .modal-body
                | Range:
                select.pick-date
                table.table.table-striped.table-condensed.table-past-charts
                  thead
                    tr
                      th Number
                      th Album
                      th Artist
                      th Count
                  tbody
                    tr
                      td 1.
                      td The Suburbs
                      td Arcade Fire
                      td 5
              .modal-footer
                button.btn(data-dismiss='modal', aria-hidden='true') Close
            h2.pull-left
              | Current Charts - Week 3
              button.btn.btn-mini(data-target='.charts-modal', role='button', data-toggle='modal') Past Weeks
            .pull-right
              form(action='/start-new-week', method='post')
                button.btn.btn-custom Start New Week
            table.table.table-striped.table-condensed.table-charts
              thead
                tr
                  th Number
                  th Album
                  th Artist
                  th Count
        .usermanager.control
          h2 Users
          br
          form.user-form(action='/adduser', method='post')
            | DJ Name:
            br
            input(type='text', name='name')
            br
            | DJ Username:
            br
            input(type='text', name='username')
            br
            button.btn(type='submit') Add DJ
        .eventsmanager.control
          .eventsmanager-station
            .events-modal.modal.hide.fade
              form.event-form(action='/events', method='post', enctype='multipart/form-data', onsubmit='return checkFields()')
                .modal-header
                  button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                  h3 Add/Edit Event
                .modal-body
                  input(name='event_id', type='text', style='display: none;')
                  | Event Name:
                  input.input-block-level(type='text', placeholder='', name='event_name')
                  | Date:
                  br
                  //
                     <div class="input-append date event-date" data-date="12/02/12" data-date-format="mm/dd/yy">
                                        <input class="span2" size="16" type="text" value="12/02/12" readonly>
                                        <span class="add-on"><i class="icon-calendar"></i></span>
                                      </div><br> 
                  input.event-date(type='date', name='event_date')
                  br
                  | Time:
                  br
                  .start_time
                    select.short-field.start_hour
                      option 1
                      option 2
                      option 3
                      option 4
                      option 5
                      option 6
                      option 7
                      option 8
                      option 9
                      option 10
                      option 11
                      option 12
                    | :
                    input.short-field.start_minute(type='text', value='00')
                    select.short-field.start_ampm
                      option PM
                      option AM
                    input(name='event_start', type='text', style='display: none;')
                  | until
                  .end-time
                    select.short-field.end_hour
                      option 1
                      option 2
                      option 3
                      option 4
                      option 5
                      option 6
                      option 7
                      option 8
                      option 9
                      option 10
                      option 11
                      option 12
                    | :
                    input.short-field.end_minute(type='text', value='00')
                    select.short-field.end_ampm
                      option PM
                      option AM
                    br
                    input(name='event_end', type='text', style='display: none;')
                  | Location:
                  input.input-block-level(type='text', placeholder='', name='event_location')
                  | Description:
                  textarea.input-block-level(rows='3', placeholder='', name='event_description')
                  | Spam:
                  br
                  input(type='file', name='event_spam')
                  p.spam_view There is no spam for this event uploaded yet.
                .modal-footer
                  input(name='submitSource', type='hidden')
                  button.btn.cancel-button(type='submit', name='delete', style='display: none;') Cancel event
                  button.btn.btn-custom(type='submit', name='update') Save changes
            h2.pull-left WZLY Events
            button.btn.pull-right(data-target='.events-modal', role='button', data-toggle='modal')
              i.icon-plus
              | Add Event
            table.table.table-striped.events-table
              thead
                tr
                  th Name
                  th Date
                  th Time
                  th Location
                  th Edit
              tbody
              //
                <tr>
                                  <td>Zombie Party</td>
                                  <td>10/31/13</td>
                                  <td>10pm-2am</td>
                                  <td>Lake House</td>
                                  <td><i href=".events-modal" role="button" data-toggle="modal" class="icon-pencil"></i></td>
                                </tr>
          .eventsmanager-concerts
            form.concert-form(method='post', action='/concerts')
              h2 Concerts in the Greater Boston Area
              br
              select(name='concerts_semester')
                option Choose Semester
                option Fall
                option Spring
                option Summer
              | of
              input(type='text', placeholder='Year', name='concerts_year')
              br
              br
              textarea.span7(rows='20', placeholder='Example: 10/6 - Arcade Fire', name='concerts_text')
              br
              button.btn(type='submit') Save
        .boardmanager.control
          .row-fluid
            .span8.pics-container
              .pic-box.gm(data-position='1')
                img(src='img/prof.png')
                | General Manager
              .pic-box.sec(data-position='2')
                img(src='img/prof.png')
                | Secretary
              .pic-box.emd(data-position='3')
                img(src='img/prof.png')
                | External MD
              .pic-box.imd(data-position='4')
                img(src='img/prof.png')
                | Internal MD
              .pic-box.pro(data-position='5')
                img(src='img/prof.png')
                | Promotions
              .pic-box.pub(data-position='6')
                img(src='img/prof.png')
                | Publicity
              .pic-box.sam(data-position='7')
                img(src='img/prof.png')
                | Software & Media
              .pic-box.prg(data-position='8')
                img(src='img/prof.png')
                | Programming
              .pic-box.tch(data-position='9')
                img(src='img/prof.png')
                | Tech
              .pic-box.se1(data-position='10')
                img(src='img/prof.png')
                | Special Events
              .pic-box.se2(data-position='11')
                img(src='img/prof.png')
                | Special Events
              .pic-box.int(data-position='12')
                img(src='img/prof.png')
                | Intern Coordinator
              .pic-box.lib(data-position='13')
                img(src='img/prof.png')
                | Record Librarian
              .pic-box.mon(data-position='14')
                img(src='img/prof.png')
                | Business Director
              .pic-box.new(data-position='15')
                img(src='img/prof.png')
                | News Director
            .span4.eboard-fields
              form.eboard-form(action='/eboard', method='post', enctype='multipart/form-data')
                h3 Choose a Position
                input(type='text', name='member_id', style='display: none;', value='1')
                input(type='file', name='member_picture')
                input.input-block-level(type='text', placeholder='Name', name='member_name')
                input.input-block-level(type='text', placeholder='Class Year', name='member_year')
                input.input-block-level(type='text', placeholder='Show Name', name='member_show')
                input.input-block-level(type='text', placeholder='Show Day/Time', name='member_time')
                input.input-block-level(type='text', placeholder='Power Animal', name='member_animal')
                textarea.input-block-level(rows='2', placeholder='Top 5 Favorite Bands', name='member_bands')
                textarea.input-block-level(rows='2', placeholder='Best Concert', name='member_concert')
                textarea.input-block-level(rows='3', placeholder='What do you think about before you go on air?', name='member_thoughts')
                textarea.input-block-level(rows='3', placeholder='If you could interview any artist or band, who would it be and what would you ask?', name='member_interview')
                button.btn.pull-right.btn-custom(type='submit') Save
  //
     end container
  script(src='javascripts/jquery-1.10.2.min.js')
  script(src='javascripts/bootstrap.min.js')
  script(src='javascripts/bootstrap-datepicker.js')
  script(src='javascripts/interface.js')
  script(src='javascripts/admin.js')

