.left-nav
    .topbar
        h1 
            img(src='/images/assets/airwave-logo.png')
            span.small BETA
    img(src='/images/assets/logo.png', class="prof-pic admin")
    if(user.permanent != true)
        .dropdown
            button.dropdown-toggle.clear(type="button",id="actions",data-toggle="dropdown",aria-expanded="true")
                h2 Admin
                span.caret
            ul.dropdown-menu(role="menu",aria-labelledby="actions")
                li(role="presentation") 
                    a(href='/app/profile') Switch to personal
    else
        h2 Admin
        
    ul
        li
            a(href='/admin/library')
                img(src="/images/icons/library.png")
                | Library
        li 
            a(href='/admin/stream')
                img(src="/images/icons/stream.png")
                | Stream
        li 
            a(href='/admin/charts')
                img(src="/images/icons/charts.png")
                | Charts
        li 
            a(href='/admin/scheduler')
                img(src="/images/icons/scheduler.png")
                | Scheduler
        li 
            a(href='/admin/users')
                img(src="/images/icons/profile.png")
                | Users
        li 
            a(href='/admin/events')
                img(src="/images/icons/events.png")
                | Events
        li 
            a(href='/admin/eboard')
                img(src="/images/icons/eboard.png")
                | Eboard Profile
        li 
            a(href='/admin/manage')
                img(src="/images/icons/manage.png")
                | Manage
    .logout
        a(href="/logout")
            img(src="/images/icons/logout.png")
            | Logout
