.left-nav
	.topbar
		h1 WZLY INTERFACE
	img(src='/images/dj/glanza.jpg', class="prof-pic")
	- if(user.local.name)
		h2 #{user.local.name}
	- else
		h2 #{user.local.username}
	ul
		li.active
			a(href='/app/log')
				img(src="/images/icons/mic-active.png")
				| Music Log
		li 
			a(href='/app/playlists')
				img(src="/images/icons/playlists.png")
				| Playlists
		li 
			a(href='/app/profile')
				img(src="/images/icons/profile.png")
				| Profile