.left-nav
	.topbar
		h1 AIRWAVE
			span.small BETA
	img(src='#{user.picture}', class="prof-pic")
	- if(user.local.name)
		h2 #{user.local.name}
	- else
		h2 #{user.local.username}
	ul
		li
			a(href='/app/log')
				img(src="/images/icons/mic.png")
				| Music Log
		li 
			a(href='/app/playlists')
				img(src="/images/icons/playlists.png")
				| Playlists
		li 
			a(href='/app/profile')
				img(src="/images/icons/profile.png")
				| Profile
	.logout
		a(href="/logout")
			img(src="/images/icons/scheduler.png")
			| Logout