.left-nav
	.topbar
		h1 WZLY INTERFACE
	img(src='/images/dj/glanza.jpg', class="prof-pic")
	h2 Gabriela Lanza
	ul
		li.active
			a(href='/app/log')
				img(src="/images/icons/mic-active.png")
				| Music Log
		li 
			a(href='')
				img(src="/images/icons/playlists.png")
				| Playlists
		li 
			a(href='/app/profile')
				img(src="/images/icons/profile.png")
				| Profile