extends layout

block content
  .container 

    include admin-sidebar
    .content
          form.form-with-labels(action='/admin/eboard', method='post', enctype='multipart/form-data')
            h3.position-title #{user.eboard.position}
            .row
              .col-sm-4
                label.inline(for='name') Class Year
              .col-sm-8
                input.full(type='text', placeholder='', name='year')
            .row
              .col-sm-4
                label.inline(for='name') Power Animal
              .col-sm-8
                input.full(type='text', placeholder='', name='animal')
            .row
              .col-sm-4
                label.inline(for='name') Favorite Bands
              .col-sm-8
                textarea.full(rows='2', placeholder='Top 5 Favorite Bands', name='bands')
            .row
              .col-sm-4
                label.inline(for='name') Best Concert
              .col-sm-8
                textarea.full(rows='2', placeholder='What is the best concert you ever attended?', name='concert')
            .row
              .col-sm-4
                label.inline(for='name') On Air
              .col-sm-8
                textarea.full(rows='3', placeholder='What do you think about before you go on air?', name='thoughts')
            .row
              .col-sm-4
                label.inline(for='name') Interview
              .col-sm-8
                textarea.full(rows='3', placeholder='If you could interview any artist or band, who would it be and what would you ask?', name='interview')
            .row
              .col-sm-12
                button.btn.pull-right.btn-custom(type='submit') Save
    
    //end container
    script(type='text/javascript').                                   
      var local_data =!{JSON.stringify(user)}
    include global-js
    script(src='/javascripts/eboard.js')

