extends layout

block content
  .container 

    include admin-sidebar
    .content

      .row
        .col-xs-4.avatars
          .pic-box.gm(data-position='General Manager')
            img(src='/images/assets/default.png')
            | General Manager
          .pic-box.sec(data-position='Secretary')
            img(src='/images/assets/default.png')
            | Secretary
          .pic-box.emd(data-position='External Music Director')
            img(src='/images/assets/default.png')
            | External MD
          .pic-box.imd(data-position='Internal Music Director')
            img(src='/images/assets/default.png')
            | Internal MD
          .pic-box.pro(data-position='Promotions Director')
            img(src='/images/assets/default.png')
            | Promotions
          .pic-box.pub(data-position='Publicity Director')
            img(src='/images/assets/default.png')
            | Publicity
          .pic-box.sam(data-position='Software & Media Director')
            img(src='/images/assets/default.png')
            | Software & Media
          .pic-box.prg(data-position='Programming Director')
            img(src='/images/assets/default.png')
            | Programming
          .pic-box.tch(data-position='Tech Director')
            img(src='/images/assets/default.png')
            | Tech
          .pic-box.se1(data-position='Special Events Coordinator 1')
            img(src='/images/assets/default.png')
            | Special Events
          .pic-box.se2(data-position='Special Events Coordinator 2')
            img(src='/images/assets/default.png')
            | Special Events
          .pic-box.int(data-position='Intern Coordinator')
            img(src='/images/assets/default.png')
            | Intern Coordinator
          .pic-box.lib(data-position='Record Librarian')
            img(src='/images/assets/default.png')
            | Record Librarian
          .pic-box.mon(data-position='Business Director')
            img(src='/images/assets/default.png')
            | Business Director
          .pic-box.new(data-position='News Director')
            img(src='/images/assets/default.png')
            | News Director
        .col-xs-8
          form.form-with-labels(action='/admin/eboard', method='post', enctype='multipart/form-data')
            h3.position-title Choose a Position
            input(type='text', name='position', style='display: none;', value='')
            .row
              .col-sm-4
                label.inline(for='name') Picture
              .col-sm-8
                input(type='file', name='picture')
            .row
              .col-sm-4
                label.inline(for='name') Name
              .col-sm-8
                input.full(type='text', placeholder='', name='name')
            .row
              .col-sm-4
                label.inline(for='name') Class Year
              .col-sm-8
                input.full(type='text', placeholder='', name='year')
            .row
              .col-sm-4
                label.inline(for='name') Show Name
              .col-sm-8
                input.full(type='text', placeholder='', name='show')
            .row
              .col-sm-4
                label.inline(for='name') Show Time
              .col-sm-8
                input.full(type='text', placeholder='', name='time')
            .row
              .col-sm-4
                label.inline(for='name') Power Animal
              .col-sm-8
                input.full(type='text', placeholder='', name='animal')
            .row
              .col-sm-4
                label.inline(for='name') Favorite Bands
              .col-sm-8
                textarea.full(rows='2', placeholder='Top 5 Favorite Bands', name='bands')
            .row
              .col-sm-4
                label.inline(for='name') Best Concert
              .col-sm-8
                textarea.full(rows='2', placeholder='What is the best concert you ever attended?', name='concert')
            .row
              .col-sm-4
                label.inline(for='name') On Air
              .col-sm-8
                textarea.full(rows='3', placeholder='What do you think about before you go on air?', name='thoughts')
            .row
              .col-sm-4
                label.inline(for='name') Interview
              .col-sm-8
                textarea.full(rows='3', placeholder='If you could interview any artist or band, who would it be and what would you ask?', name='interview')
            .row
              .col-sm-12
                button.btn.pull-right.btn-custom(type='submit') Save
    
    //end container
    script(type='text/javascript').                                   
      var local_data =!{JSON.stringify(eboarders)}
      console.log(local_data)
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/eboard.js')

