doctype html
html
  head
    title= title

    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    // Bootstrap 
    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet', media='screen', type='text/css')

    // Styling 
    link(href='/stylesheets/style.css', rel='stylesheet', media='screen', type='text/css')

    //link(href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700|Roboto:400,300,500,700', rel='stylesheet', type='text/css')

  body
    .contact-modal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="Contact" aria-hidden="true")
        .modal-dialog
          form.contact-form.form-with-labels
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal')
                  span(aria-hidden='true') ×
                  span.sr-only Close
                h4.modal-title Feedback
              .modal-body
                .row
                    .col-sm-12
                        p If you have found a bug, have a suggestion, or need some help, just send it along.
                .row
                  .col-sm-3
                    label.inline(for='name') Name
                  .col-sm-9
                    input.full(type='text', placeholder='', name='name')
                .row
                  .col-sm-3
                    label.inline(for='email') Your Email
                  .col-sm-9
                    input.full(type='text', placeholder='', name='email')
                .row
                  .col-sm-3
                    label.inline(for='message') Message
                  .col-sm-9
                    textarea.full(rows='3', placeholder='', name='message')
              .modal-footer
                button.btn.primary(type='submit', name='submit') Send
    button.btn.feedback(data-toggle='modal' data-target='.contact-modal') Feedback
    block content
    script(src='/javascripts/global.js')