extends layout

block content
  .container

    include admin-sidebar
    .content
      button.btn.pull-right.show-form Add an album
      h2 Library
      form.add-album-form.form-inline
        input(type='text', name='album', placeholder='Album Name')
        input(type='text', name='artist', placeholder='Artist Name')
        button.btn(type='submit') Add
      p.hr_response
      - if(!albums[0])
        p.emp.zero-state You don't have HR albums in your library yet.
      - else
        table.table.table-striped.table-condensed.table-albums
          thead
            tr
              th Album
              th Artist
              th HR ID
          tbody
            each album, i in albums
              tr
                td #{album.album}
                td #{album.artist}
                td #{album.hrID}
      include _paginate
            
    //end container
    include global-js
    script(src='/javascripts/library.js')