extends layout

block content

  .options-modal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="Playlist options" aria-hidden="true")
    .modal-dialog
      .modal-content
        form.go-live-form.form-with-labels(action="/app/go-live" method="post")
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h3 Playlist options
          .modal-body
            //.row
              .col-sm-12
                h4.caps Add co-collaborators (optional)
                p If you would like your playlist to show any co-collaborators, add them here. If they are also DJs, this 
                  | playlist will also appear on their profile.
                br
                input(name="collab-name", placeholder="Name")
                input(name="collab-username", placeholder="Username (if a DJ)") 
                a.btn(href="#")
                  span(class="glyphicon glyphicon-plus",aria-hidden="true")
                  | Add another
            if (user.show.length > 1)
              .row
                .col-sm-12
                  label Show name
                  br
                  select(name="show")
                    option Select show name
                    each item in user.show
                      option(data-name='#{item.showName}') #{item.showName}
            else
              input(type="hidden", value="#{user.show[0].showName}")
          .modal-footer
              button.btn(type='button', data-dismiss='modal') Cancel
              button.btn.primary(type='submit', name='submit') Go live

  .playlist-modal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="Add or Edit Playlist Name/Description" aria-hidden="true")
    .modal-dialog
      .modal-content
        form.playlist-form.form-with-labels(action="/description" method="post")
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h3 Add/Edit Show Name and Description
          .modal-body
            .row
              .col-sm-3
                label.inline(for='name') Show Name 
              .col-sm-9
                input.full(type='text', placeholder='(optional)', name='name')
            .row
              .col-sm-3
                label.inline(for='description') Description
              .col-sm-9
                textarea.full(rows='4', placeholder='(optional)', name='description')
          .modal-footer
              button.btn(type='button', data-dismiss='modal') Close
              button.btn.primary(type='submit', name='submit') Save

  .pulse.active
  .container.log

    include dj-sidebar

    if (user.live == true || typeof(username) !== 'undefined')

      form.log-form.line-form(action='/app/log', method='post', onsubmit="return validate()")
        
        input.input-block-level(type='text', placeholder='Song', name='name', class='song')
        | by <br>
        input.input-block-level(type='text', placeholder='Artist', name='artist', class='artist')
        | off of <br>
        input.input-block-level(type='text', placeholder='Album', name='album', class='album')
        | <br>
        input.input-block-level(type='text', placeholder='HR ID', name='hrID', class='hrid')
        <br>
        button.btn.light(type='submit') Submit
        .validation 

      p.add-name <a href="#" data-target='.playlist-modal', data-toggle='modal')>Add or edit</a> your playlist's name or description.

      .bottom-bar
        form(action='/app/finish-playlist' method='post')
          button.btn.clear(type="submit") Finish playlist
      //end container

    else

      a.btn.btn-main(href="#" data-target='.options-modal', data-toggle='modal') Go Live

    script(type='text/javascript').                                   
      var user =!{JSON.stringify(user)}
    include global-js
    script(src='/javascripts/log.js')