extends layout


block content
  .container

    include dj-sidebar
    .content
      .charts_select.pull-right
        | Playlist on: 
        select
          option Choose date
          each item in user.playlists
            option(data-date='#{item.date}') #{moment(item.date).format("MMMM Do YYYY")}
      h2 Playlists
      - if(user.playlists.length > 0)
        p.emp.zero-state Select a date to see playlist
      - else
        p.emp.zero-state You don't have any playlists yet. 
      table.table.table-striped.table-condensed.table-albums.table-playlists.hide
        thead
          tr
            th Number
            th Name
            th Artist
            th Album
        tbody
    //end container
    script(type='text/javascript').                                   
      var songs =!{JSON.stringify(songs)}
      console.log(songs)
      var user =!{JSON.stringify(user)}
      console.log(user)
    include global-js
    script(src='/javascripts/moment.min.js')
    script(src='/javascripts/playlists.js')

