extends layout


block content
  .container

    include dj-sidebar

    form.profile-form.line-form(action='/app/profile', method='post', enctype="multipart/form-data")
      .row
        h3.caps The Basics
        input.input-block-level(type='text', name='name', placeholder='Name', value="#{user.local.name}")
        input.input-block-level(type='text', name='showName', placeholder='Show Name')
      .row
        h3.caps A profile picture
        input(type='file', name='picture', accept="image/*")
      .row
        h3.caps A short bio
        textarea.input-block-level(rows='5', name='bio')
      .row
        h3.caps Favorite bands
        label 1.
        input.input-block-level.band(type='text', name='band1')
        label 2. 
        input.input-block-level.band(type='text', name='band2')
        label 3.
        input.input-block-level.band(type='text', name='band3')
        br
        label 4. 
        input.input-block-level.band(type='text', name='band4')
        label 5.
        input.input-block-level.band(type='text', name='band5')
      .row
        button.btn(type='submit') Save
    //end container
    script(type='text/javascript').                                   
      var user =!{JSON.stringify(user)}
    include global-js
    script(src='/javascripts/profile.js')
