doctype html
html
  head
    title WZLY Admin Interface
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    //
       Bootstrap 
    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet', media='screen')
    //
       Styling 
    link(href='/stylesheets/style.css', rel='stylesheet', media='screen')
    link(rel='stylesheet', href='/stylesheets/scheduler.css')
  body
    .wrapper
      .top
        .button-group
            a.btn(href="/admin/library") Done
        h2 Scheduler
        i.icon.icon-question-sign(title='Click for instructions', alt='Click for instructions')
      .row
        .col-xs-2.sidebar
            h2 Add an Entry

            form.add-entry-form(action='#', method='get')
                .actions
                    input.entry-username(type='text', name='entry-username-1', placeholder='DJ Username')
                    a(href="#" class="add-host") Add co-host
                    button.btn.save(title='Add entries to the schedule', type="submit") Save
                    button.cancel.btn.light(title='Cancel adding', type="reset") Cancel
            .message-box
                .info.message
                .error.message
            .hint
                p.
                 Guide: Enter a DJ's username in the box above, then select their show times in the table. To add multiple 
                 DJs to one time slot, click "Add co-host". When you are finished selecting the correct time, click "Save". 
                 To delete users from the schedule, just click on their time slot in the table.
                p Hint: Click and drag across multiple cells for shows longer than half an hour.
            .block-buttons
                button.remove-entries.delete.btn.block.light(title='Remove all entries from the schedule')
                    | Clear Schedule

                button.show-rows.btn.block.light Show hidden times
        .col-xs-10
          table.schedule.table-condensed
            thead
              tr
                th.first
                th Sunday
                th Monday
                th Tuesday
                th Wednesday
                th Thursday
                th Friday
                th Saturday
            tbody
              tr.collapsed
                th 3am
                td(data-x='3', data-y='0')
                td(data-x='3', data-y='1')
                td(data-x='3', data-y='2')
                td(data-x='3', data-y='3')
                td(data-x='3', data-y='4')
                td(data-x='3', data-y='5')
                td(data-x='3', data-y='6')
              tr.collapsed
                th 4am
                td(data-x='4', data-y='0')
                td(data-x='4', data-y='1')
                td(data-x='4', data-y='2')
                td(data-x='4', data-y='3')
                td(data-x='4', data-y='4')
                td(data-x='4', data-y='5')
                td(data-x='4', data-y='6')
              tr.collapsed
                th 5am
                td(data-x='5', data-y='0')
                td(data-x='5', data-y='1')
                td(data-x='5', data-y='2')
                td(data-x='5', data-y='3')
                td(data-x='5', data-y='4')
                td(data-x='5', data-y='5')
                td(data-x='5', data-y='6')
              tr.collapsed
                th 6am
                td(data-x='6', data-y='0')
                td(data-x='6', data-y='1')
                td(data-x='6', data-y='2')
                td(data-x='6', data-y='3')
                td(data-x='6', data-y='4')
                td(data-x='6', data-y='5')
                td(data-x='6', data-y='6')
              tr.collapsed
                th 7am
                td(data-x='7', data-y='0')
                td(data-x='7', data-y='1')
                td(data-x='7', data-y='2')
                td(data-x='7', data-y='3')
                td(data-x='7', data-y='4')
                td(data-x='7', data-y='5')
                td(data-x='7', data-y='6')
              tr
                th 8am
                td(data-x='8', data-y='0')
                td(data-x='8', data-y='1')
                td(data-x='8', data-y='2')
                td(data-x='8', data-y='3')
                td(data-x='8', data-y='4')
                td(data-x='8', data-y='5')
                td(data-x='8', data-y='6')
              tr
                th 9am
                td(data-x='9', data-y='0')
                td(data-x='9', data-y='1')
                td(data-x='9', data-y='2')
                td(data-x='9', data-y='3')
                td(data-x='9', data-y='4')
                td(data-x='9', data-y='5')
                td(data-x='9', data-y='6')
              tr
                th 10am
                td(data-x='10', data-y='0')
                td(data-x='10', data-y='1')
                td(data-x='10', data-y='2')
                td(data-x='10', data-y='3')
                td(data-x='10', data-y='4')
                td(data-x='10', data-y='5')
                td(data-x='10', data-y='6')
              tr
                th 11am
                td(data-x='11', data-y='0')
                td(data-x='11', data-y='1')
                td(data-x='11', data-y='2')
                td(data-x='11', data-y='3')
                td(data-x='11', data-y='4')
                td(data-x='11', data-y='5')
                td(data-x='11', data-y='6')
              tr
                th 12pm
                td(data-x='12', data-y='0')
                td(data-x='12', data-y='1')
                td(data-x='12', data-y='2')
                td(data-x='12', data-y='3')
                td(data-x='12', data-y='4')
                td(data-x='12', data-y='5')
                td(data-x='12', data-y='6')
              tr
                th 1pm
                td(data-x='13', data-y='0')
                td(data-x='13', data-y='1')
                td(data-x='13', data-y='2')
                td(data-x='13', data-y='3')
                td(data-x='13', data-y='4')
                td(data-x='13', data-y='5')
                td(data-x='13', data-y='6')
              tr
                th 2pm
                td(data-x='14', data-y='0')
                td(data-x='14', data-y='1')
                td(data-x='14', data-y='2')
                td(data-x='14', data-y='3')
                td(data-x='14', data-y='4')
                td(data-x='14', data-y='5')
                td(data-x='14', data-y='6')
              tr
                th 3pm
                td(data-x='15', data-y='0')
                td(data-x='15', data-y='1')
                td(data-x='15', data-y='2')
                td(data-x='15', data-y='3')
                td(data-x='15', data-y='4')
                td(data-x='15', data-y='5')
                td(data-x='15', data-y='6')
              tr
                th 4pm
                td(data-x='16', data-y='0')
                td(data-x='16', data-y='1')
                td(data-x='16', data-y='2')
                td(data-x='16', data-y='3')
                td(data-x='16', data-y='4')
                td(data-x='16', data-y='5')
                td(data-x='16', data-y='6')
              tr
                th 5pm
                td(data-x='17', data-y='0')
                td(data-x='17', data-y='1')
                td(data-x='17', data-y='2')
                td(data-x='17', data-y='3')
                td(data-x='17', data-y='4')
                td(data-x='17', data-y='5')
                td(data-x='17', data-y='6')
              tr
                th 6pm
                td(data-x='18', data-y='0')
                td(data-x='18', data-y='1')
                td(data-x='18', data-y='2')
                td(data-x='18', data-y='3')
                td(data-x='18', data-y='4')
                td(data-x='18', data-y='5')
                td(data-x='18', data-y='6')
              tr
                th 7pm
                td(data-x='19', data-y='0')
                td(data-x='19', data-y='1')
                td(data-x='19', data-y='2')
                td(data-x='19', data-y='3')
                td(data-x='19', data-y='4')
                td(data-x='19', data-y='5')
                td(data-x='19', data-y='6')
              tr
                th 8pm
                td(data-x='20', data-y='0')
                td(data-x='20', data-y='1')
                td(data-x='20', data-y='2')
                td(data-x='20', data-y='3')
                td(data-x='20', data-y='4')
                td(data-x='20', data-y='5')
                td(data-x='20', data-y='6')
              tr
                th 9pm
                td(data-x='21', data-y='0')
                td(data-x='21', data-y='1')
                td(data-x='21', data-y='2')
                td(data-x='21', data-y='3')
                td(data-x='21', data-y='4')
                td(data-x='21', data-y='5')
                td(data-x='21', data-y='6')
              tr
                th 10pm
                td(data-x='22', data-y='0')
                td(data-x='22', data-y='1')
                td(data-x='22', data-y='2')
                td(data-x='22', data-y='3')
                td(data-x='22', data-y='4')
                td(data-x='22', data-y='5')
                td(data-x='22', data-y='6')
              tr
                th 11pm
                td(data-x='23', data-y='0')
                td(data-x='23', data-y='1')
                td(data-x='23', data-y='2')
                td(data-x='23', data-y='3')
                td(data-x='23', data-y='4')
                td(data-x='23', data-y='5')
                td(data-x='23', data-y='6')
              tr
                th 12am
                td(data-x='24', data-y='0')
                td(data-x='24', data-y='1')
                td(data-x='24', data-y='2')
                td(data-x='24', data-y='3')
                td(data-x='24', data-y='4')
                td(data-x='24', data-y='5')
                td(data-x='24', data-y='6')
              tr
                th 1am
                td(data-x='1', data-y='0')
                td(data-x='1', data-y='1')
                td(data-x='1', data-y='2')
                td(data-x='1', data-y='3')
                td(data-x='1', data-y='4')
                td(data-x='1', data-y='5')
                td(data-x='1', data-y='6')
              tr.collapsed
                th 2am
                td(data-x='2', data-y='0')
                td(data-x='2', data-y='1')
                td(data-x='2', data-y='2')
                td(data-x='2', data-y='3')
                td(data-x='2', data-y='4')
                td(data-x='2', data-y='5')
                td(data-x='2', data-y='6')
            
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js')
    script(type='text/javascript', src='/javascripts/jqueryui_custom.js')
    script(type='text/javascript').                                 
        var users =!{JSON.stringify(users)}
        console.log(users);
    script(src='/javascripts/scheduler.js')


    //
     <ol>
                      <li>Enter a name.</li>
                      <li>Drag the mouse across the schedule to select the available times. Hold the <code>CTRL</code> key to select multiple times.</li>
                      <li>Click "Add."</li>
                    </ol> 
