extends layout


block content
  .container

    include admin-sidebar
    .content
      h2 Users
      form.user-form.form-inline(action='/../signup', method='post')
        input(type='text', name='name', placeholder='DJ Name')
        input(type='text', name='username', placeholder='DJ Username')
        button.btn(type='submit') Add DJ
      table.table.table-striped.table-condensed.table-users
        thead
          tr
            th DJ
            th Username
            th 
        tbody
          each user, i in users
            tr
              td #{user.local.name}
              td #{user.local.username}
              td 
                  form(method='post', action='/admin/events/#{user.local._id}')
                    button.clear(type='submit', role='button')
                      img(src="/images/icons/trash.png").icon
    //end container
    script(src='javascripts/jquery-1.10.2.min.js')
    script(src='javascripts/bootstrap.min.js')
    script(src='javascripts/bootstrap-datepicker.js')

