/* ** top of page ** */
.top {
	background-color: rgba(42,41,44, 1);
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    padding: 15px 10px;
}

.top h2 {
	margin: 0 0 0 20px;
}

.top .button-group {
	float: right;
}

.top .btn {
	padding: 6px 16px;
	margin: 0;
}

.top .publish {
	margin-right: 10px;
}

/* ** table ** */

.col-xs-10 {
	padding-left: 0;
}

table {
	border-collapse:collapse;
	border:1px solid rgba(256,256,256,0.2);
	width:100%;
	text-align: center;
	margin: 30px 0px 30px -10px;
	background-color: rgba(215,215,215,0.15);
}

td {
	height: 33px;
}

th {
	background-color: rgba(215,215,215,0.1);
}

thead th {
	border:1px solid rgba(256,256,256,0.2);
	font-weight: 300;
}

tbody td, tbody th {
	border:1px solid rgba(256,256,256,0.2);

}

tbody th {
	font-weight: 300;
}

tbody td { 
	text-align: center; 
	vertical-align: top; 
}

thead th, tbody td { 
	min-width:120px; 
}

th.first {
	min-width: 70px;
}

tr.collapsed {
	display: none;
}

/* ** Sidebar ** */
.sidebar {
	padding: 6px 40px;
}

.sidebar h2 {
	font-size: 25px;
	margin-bottom: 20px;
}

.sidebar input:not([type=submit]):not([type=file]) {
	margin-bottom: 5px;
	width: 100%;
}

.sidebar a {
	margin-bottom: 15px;
	display: block;
}

.sidebar button {
	margin-bottom: 10px;
	padding: 6px 16px;
}

.save {
	margin-right: 10px;
}

.block { 
	width: 100%
}

.hint {
	font-size: 13px;
	margin-bottom: 20px;
	opacity: 0.85;
}

/* SELECTABLES */

.ui-selecting { 
	background: rgba(235,122,113, 0.6) 
}
.ui-selected { 
	background: rgba(235,122,113, 0.3);
}


/* ENTRIES */

.active, .current {
	background-color: rgba(215,215,215,0.3); 
	cursor: pointer;
}

.schedule .deletable {
	cursor: pointer;
}

.schedule .deleting,
.schedule .deletable:hover {
	border-color: rgba(235,122,113, 0.6);
	background: rgba(235,122,113, 0.3);
	color: rgba(235,122,113, 0.6);
}

/* MESSAGES */

.message-box {
	height: 40px;
	padding-top: 10px;
	margin-bottom: 18px;
}

.error { 
	color: rgba(235,122,113, 0.6); 
}


