
body {
	background-image: url('../images/dj-background.png');
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-color: #EDEBED;
	background-size: 100%;
	font-size: 15px;
	color: #F3EBE8;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
}


/*****************************/
/* **** Common elements **** */
/*****************************/

h3 {
	color: rgba(235,122,113, 0.6);
}

.btn {
	background-color: rgba(243,235,232,.1);
	border: 1px solid rgba(243,235,232,.3);
	border-radius: 2px;
	padding: 8px 20px;
}

.btn.primary {
	border: 1px solid #F3EBE8;
	border-radius: 2px;
	padding: 8px 40px;
	background-color: transparent;
}

.btn:hover {
	background-color: rgba(243,235,232,.2);
	color: #F3EBE8;
}

.glyphicon {
	margin-right: 5px;
}

a {
	color: #F3EBE8;
}

a:hover {
	color: #804D49;
}

.hide {
	display: none;
}

.emp {
	font-style: italic;
	opacity: 0.7;
}

.clear {
	background-color: transparent;
	border: 0;
}

/* **** Inputs **** */

input:not([type=submit]):not([type=file]), textarea {
    background-color: rgba(243,235,232,0.2);
	border: 1px solid rgba(243,235,232,1);
	border-radius: 2px;
	padding: 8px 8px 7px 8px;
	margin: 0 10px 0px 0px;
}

input:not([type=submit]):not([type=file]):focus, textarea:focus, select:focus {
    outline: none;
	  border: 1px solid #EB7A71 !important;
	  -webkit-box-shadow: none !important;
	  -moz-box-shadow: none !important;
	  box-shadow: none !important;
}

select {
	font-size: 14px;
	width: 180px;
    background-color: rgba(243,235,232,0.2);
	border: 1px solid rgba(243,235,232,1);
	border-radius: 2px;
	padding: 8px 8px 7px 8px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 500px #957C85 inset;
    color: rgba(243,235,232,1);
}

label.inline {
	margin-right: 20px;
}

input.full, textarea.full {
	width: 100%;
	margin-right: 0;
}

.form-with-labels .row {
	margin-top: 10px;
}

.form-with-labels .col-sm-3, .form-with-labels .col-sm-4 {
	text-align: right;
	padding-right: 0;
}

.form-with-labels .col-sm-9, .form-with-labels .col-sm-8 {
	padding-left: 0;
}

.form-with-labels label {
	font-family: "HelveticaNeue-Thin";
	font-weight: 300;
	font-size: 18px;
}

/* **** Table **** */

.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
    background-color: rgba(243,235,232,0.15);
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
	padding: 10px;
	line-height: 1.42857143;
	vertical-align: top;
	border-top: 1px solid rgba(243,235,232,1);
}

.table-striped {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin-top: 30px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

table .icon {
	width: 45px;
	margin: 0 auto;
	cursor: pointer;
	padding: 8px 15px;
}

table a {
	width: 45px;
	display: block;
}

.table-users {
	width: 420px;
}

/* **** Container **** */
.container {
    display: block;
    position: relative;
    min-height: 600px;
    margin: 50px auto 70px;
	background-color: rgba(215,215,215,0.20);
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
    width: 960px;
    padding: 0;
	-moz-box-shadow:    inset 0px 1px 2px 0px rgba(230,230,230,0.10);
	box-shadow:         inset 0px 1px 2px 0px rgba(230,230,230,0.10);
}

/* **** General content push **** */
.content {
	margin-left: 230px;
	margin-right: 30px;
}

/* **** Sidebar **** */
.left-nav {
	position: absolute;
	min-height: 600px;
	height: 100%;
	width: 200px;
	float: left;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
    background: #2A242A;
	-moz-box-shadow:    inset 0px 1px 2px 0px rgba(230,230,230,0.10);
	box-shadow:         inset 0px 1px 2px 0px rgba(230,230,230,0.10);

}

.topbar {
	background-color: #4E2434;
	width: 100%;
	height: 70px;
	margin-bottom: 20px;
	border-top-left-radius: 2px;
	-moz-box-shadow:    inset 0px 1px 2px 0px rgba(230,230,230,0.10);
	box-shadow:         inset 0px 1px 2px 0px rgba(230,230,230,0.10);
}

.topbar h1 {
	margin: 0 auto;
	padding-top: 30px;
	font-size: 14px;
	text-align: center;
	letter-spacing: 1.5px;
	color: #804D49;
	font-family: "Helvetica Neue";
}

.left-nav img.prof-pic {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	display: block;
	margin: 0 auto;
}

.left-nav h2 {
	font-size: 18px;
	margin: 20px auto 30px;
	text-align: center;
	font-family: "HelveticaNeue-Thin";
}

.left-nav ul {
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-size: 13px;
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue";
}

.left-nav ul li {
	list-style-type: none;}

.left-nav ul li a {
	display: block;
	margin: 2px 0;
	padding: 11px 20px;
}


.left-nav ul li a:hover {
	text-decoration: none;
}

.left-nav ul li img {
	width: 16px;
	margin-right: 10px;
	margin-bottom: 3px;
}

.left-nav ul li.active {
	background-color: #413B41;
}

.left-nav ul li.active a {
	color: #EB7A71;
}

/* **** Modal **** */
.modal-content {
	background-color: #2A242A;
}

.modal select {
	height: 39px;
}

.modal .row{
	padding-bottom: 20px;
}

.modal-header {
	border-bottom: 1px solid rgba(243,235,232,0.15)
}

.modal-footer {
	border-top: 1px solid rgba(243,235,232,0.15)
}

/****************************/
/****************************/
/********** Login ***********/
/****************************/
/****************************/

body.login:before {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(rgba(0,0,0,0) 40%,rgba(0,0,0,0.8) 100%);
}

.form-signin.form-inline {
	width: 530px;
    padding: 0px;
    margin: 0 auto 0;
    margin-top: 40%;
}

.form-signin h1 {
	margin: 0 0 25px;
}

.form-signin.line-form input:not([type=submit]):not([type=file]) {
    width: 200px;
    padding: 10px 0px 10px;
}

.form-signin ::-webkit-input-placeholder {
   color: #F3EBE8;
}

.form-signin :-moz-placeholder { /* Firefox 18- */
   color: #F3EBE8;  
}

.form-signin ::-moz-placeholder {  /* Firefox 19+ */
   color: #F3EBE8;  
}

.form-signin :-ms-input-placeholder {  
   color: #F3EBE8;  
}


/****************************/
/****************************/
/********** User ************/
/****************************/
/****************************/


/* **** Pulse **** */
.pulse {
	position: absolute;
	height: 3px;
	width: 100%;
	top: 0;
	-webkit-animation: pulse 1s alternate infinite;
	-moz-animation: pulse 1s alternate infinite;
}

@-webkit-keyframes pulse {
  0% {
    background: rgba(255,255,255,1);
    box-shadow: inset 0px 0px 10px 2px rgba(117,182,255,0.8),
                      0px 0px 40px 2px rgba(105,135,255,1);
  }
  100% {
    background: rgba(255,255,255,0);
    box-shadow: inset 0px 0px 10px 2px rgba(117,182,255,0.4),
                      0px 0px 30px 2px rgba(105,135,255,0.2);
  }
}
  
@-moz-keyframes pulse {
  0% {
    background: rgba(255,255,255,1);
    box-shadow: inset 0px 0px 10px 2px rgba(117,182,255,0.8),
                      0px 0px 40px 2px rgba(105,135,255,1);
  }
  100% {
    background: rgba(255,255,255,0);
    box-shadow: inset 0px 0px 10px 2px rgba(117,182,255,0.4),
                      0px 0px 30px 2px rgba(105,135,255,0.2);
  }
}


/* **** Line Form **** */

.line-form input:not([type=submit]):not([type=file]) {
    border: 0px; 
    border-bottom: 2px solid #F3EBE8;
	font-family: "HelveticaNeue-Thin";
    background: transparent;
    margin: 20px 20px 0 0;
    border-radius: 0px;
}

.line-form input:not([type=submit]):not([type=file]):focus {
    outline: none;
	  border: none !important;
	  -webkit-box-shadow: none !important;
	  -moz-box-shadow: none !important;
	  box-shadow: none !important;
	 border-bottom: 2px solid #F3EBE8 !important;
}

.line-form input:not([type=submit]):not([type=file]):hover {
    background: rgba(243,235,232,.05);
}

.line-form .btn {
	margin-top: 30px;
}



/**************************/
/******** Log page ********/
/**************************/

.log-form {
	margin-left: 260px;
	margin-top: 60px;
}

.log-form input.song {
	font-size: 52px;
	width: 400px;
}

.log-form input.artist {
	font-size: 24px;
	width: 280px;
}

.log-form input.album {
	font-size: 24px;
	width: 460px;
}

.log-form input.hrid {
	font-size: 14px;
	width: 60px;
}

.log-form input::-webkit-input-placeholder {
	color: rgba(243,235,232,.25);
	font-family: "HelveticaNeue-Thin";
}
.log-form input::-moz-placeholder {
	color: rgba(243,235,232,.25);
	font-family: "HelveticaNeue-Thin";
}
.log-form input:-moz-placeholder {   /* Older versions of Firefox */
	color: rgba(243,235,232,.25);
	font-family: "HelveticaNeue-Thin";
}
.log-form input:-ms-input-placeholder { 
	color: rgba(243,235,232,.25);
	font-family: "HelveticaNeue-Thin";
}

/* **** Bottom bar **** */
.bottom-bar {
	height: 50px;
	background-color: rgba(215,215,215,0.2);
	bottom: 0;
	position: absolute;
	width: 760px;
	margin-left: 200px;
	border-bottom-right-radius: 2px;
	text-align: center;
	padding-top: 15px;
}

.btn-main {
	margin-left: 550px;
	margin-top: 240px;
	display: block;
}


/**************************/
/****** Profile page ******/
/**************************/

.profile-form {
	margin-left: 260px;
}

.profile-form input {
	font-size: 20px;
	margin: 30px 10px 10px 0px;
}

.profile-form input.band {
	font-size: 16px;
}

.profile-form input[type=file] {
	margin-top: 40px;
	font-size: 12px;
}

.profile-form textarea {
	margin-top: 30px;
	width: 270px
}

.profile-form .row + .row {
	margin-top: 30px;
}

.profile-form button {
	margin: 40px 0;
}



/*****************************/
/*****************************/
/********** Admin ************/
/*****************************/
/*****************************/

/*****************************/
/********* Library ***********/
/*****************************/

.form-inline {
	margin-top: 20px;
}

.form-inline .btn {
	margin-top: -2px;
}

/*****************************/
/********** Events ***********/
/*****************************/

.in-between {
	padding: 0 10px;
}

/*****************************/
/********** Eboard ***********/
/*****************************/

.avatars {
	background-color: rgba(215,215,215,0.20);
	margin-left: -15px;
	padding: 0;
}

.pic-box {
	height: 47px;
	text-align: left;
	display: block;
	padding: 0px 10px;
	font-size: 15px;
	border-bottom: 1px solid rgba(215,215,215,0.20);
	padding-top: 7px;
}

.pic-box img {
	width: 32px;
	height: 32px;
	border-radius: 50px;
	margin: 1px 10px 0 0;
}

.pic-box:hover {
	cursor: pointer;
	background-color: rgba(215,215,215,0.20);
}

.avatars {
	text-align: center;
}

.active-eboarder {
	background-color: rgba(215,215,215,0.20);
}






.logout {
	margin-top: 18px;
	font-size: 15px;
	cursor: pointer;
}

.logout i {
	margin-top: 4px;
}


.side-menu {
	width: 130px;
	float: left;
}

.side-menu ul li {
	list-style-type: none;
	margin-left:  -20px;
	padding-top: 6px;
	padding-bottom: 2px;
	margin-bottom: 4px;
	text-transform: uppercase;
	font-size: 17px;
	border-bottom: 5px solid white;
	font-family: "Oswald", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
	transition: .25s ease-in-out;
	-webkit-transition: .25s ease-in-out;
	display: block;
}

.side-menu ul li a {
	width: 100%;
	display: block;
}

.side-menu .musiclog:hover {
	border-bottom-color: #F2385A;
}
.side-menu .viewplaylists:hover {
	border-bottom-color: #36B1BF;
}
.side-menu .manageprof:hover {
	border-bottom-color: #F5A503;
}
.side-menu .manager:hover {
	border-bottom-color: #F2385A;
}
.side-menu .schedule:hover {
	border-bottom-color: #36B1BF;
}
.side-menu .events:hover {
	border-bottom-color: #F5A503;
}
.side-menu .board:hover {
	border-bottom-color: #94F5EE;
}

.side-menu .users:hover {
	border-bottom-color: #2ECC71;
}

.pink {
	border-bottom-color: #F2385A;
}
.dkyellow {
	border-bottom-color: #F5A503;
}
.green {
	border-bottom-color: #94F5EE;
}
.blue {
	border-bottom-color: #36B1BF;
}

.side-menu ul li:not(:first-child) {
	border-top: 1px solid #e5e5e5;
}

.side-menu ul li:hover {
	cursor: pointer;
}

.controls {
	margin-left: 160px;
}

.controls h2 {
	margin: 0px;
}

.log-table {
	margin-left: -20px;
}

.log-table td {
	padding-left: 20px;
}

.col-med {
	width: 250px;
}

.col-long {
	width: 350px;
}

.col-short {
	width: 100px;
}

.loading {
	padding-left: 45px;
	padding-right: 45px;
}

.change-date {
	border-bottom: 1px dotted #999;
	cursor: pointer;
}

.control {
	display: none;
}

.playlists table {
	height: 600px;
	overflow: hidden;
}

.table-striped {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

/* scheduler */

.scheduler-window {
	
	border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15), inset 0 0 0 1px #f9f9f9;
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15), inset 0 0 0 1px #f9f9f9;
                box-shadow: 0 1px 2px rgba(0,0,0,.15), inset 0 0 0 1px #f9f9f9;
	-webkit-transition: opacity 400ms ease-in-out;
	-moz-transition: opacity 400ms ease-in-out;
	transition: opacity 400ms ease-in-out;
	width: 90%;
	margin: 10px auto;
	padding: 10px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	-moz-box-shadow: 1px 1px 1px #888;
    -webkit-box-shadow: 1px 1px 1px #888;
    box-shadow: 1px 1px 1px #888;
}

.wrapper {
	
}

.scheduler-footer, .add, .delete {
	margin-top: 10px;
}

.scheduler-window h1 .icon {
	margin-top: 10px;
	cursor: pointer;
}

.scheduler-window h1 {
	margin-bottom: 0px;
	margin-top: 0px;
}

/* music manager */
.table-albums {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

.top-menu {
	list-style-type: none;
	margin-left: 0px;
}

.top-menu li {
	display: inline;
	padding-right: 4px;
	text-transform: uppercase;
	font-family: "Oswald", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
	cursor: pointer;
}

.dotted {
	border-bottom: 1px dotted #aaa;
}

.top-menu li:not(:first-child) {
	padding-left: 6px;
	padding-right: 6px;
	border-left: 1px solid #333;
}


.smaller-header {
	font-size: 17px;
}

.add-show-name {
	margin-bottom: 15px;
	margin-top: 10px;
}

.events-table i:hover {
	cursor: pointer;
}

.short-field {
	width: 55px;
	padding-right: 8px;
}

.short-field input[type=text] {
	width: 30px;
}

.edit-spam {
	max-width: 300px;
	text-align: center;
}


.charts-modal {
	width: 800px;
	left: 40%;
}






