
body {
	background-image: url('../images/dj-background.png');
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-color: #060C2B;
	background-size: cover;
	font-size: 15px;
	color: #F3EBE8;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, "Montserrat", sans-serif;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
}

.feedback {
	position: fixed;
	bottom: 0px;
	right: 0px;
	margin-bottom: 5px;
	margin-right: 5px;
	margin-top: 10px;
	width: 90px;
	padding: 6px !important;
}


/*****************************/
/* **** Common elements **** */
/*****************************/

h3 {
	color: rgba(235,122,113, 0.6);
}

h3 .icon {
	margin-left: 10px;
	width: 15px;
}

p .icon {
	margin-left: 5px;
	width: 12px;
}

.caps {
	font-family: "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: 400;
}

.btn {
	background-color: rgba(243,235,232,.1);
	border: 1px solid rgba(243,235,232,.3);
	border-radius: 2px;
	padding: 8px 20px;
	-webkit-transition: background-color 0.15s ease-in-out;
	transition: background-color 0.15s ease-in-out;
}

.btn.primary {
	border: 1px solid #F3EBE8;
	border-radius: 2px;
	padding: 8px 40px;
}

.btn.light {
	background-color: transparent;
}

.btn:hover {
	background-color: rgba(243,235,232,.2);
	color: #F3EBE8;
}

.glyphicon {
	margin-right: 5px;
}

a {
	color: #F3EBE8;
}

a:hover {
	color: #804D49;
	-webkit-transition: color 0.15s ease-in-out;
	transition: color 0.15s ease-in-out;
}

.blue {
	color: #337ab7;
}

.hide {
	display: none;
}

.emp {
	font-style: italic;
	opacity: 0.7;
}

.clear {
	background-color: transparent;
	border: 0;
}

.close, .close:hover {
	color: #fff;
}


/* **** Inputs **** */

input:not([type=submit]):not([type=file]), textarea {
    background-color: rgba(243,235,232,0.2);
	border: 1px solid rgba(243,235,232,1);
	border-radius: 2px;
	padding: 8px 8px 7px 8px;
	margin: 0 10px 0px 0px;
}

input:not([type=submit]):not([type=file]):focus, textarea:focus, select:focus {
    outline: none;
	  border: 1px solid #EB7A71 !important;
	  -webkit-box-shadow: none !important;
	  -moz-box-shadow: none !important;
	  box-shadow: none !important;
}

select {
	font-size: 14px;
	width: 180px;
    background-color: rgba(243,235,232,0.2);
	border: 1px solid rgba(243,235,232,1);
	border-radius: 2px;
	padding: 8px 8px 7px 8px;
	-webkit-appearance: none;
}

input:-webkit-autofill, input:-webkit-autofill:focus, input:-webkit-autofill:hover {
    -webkit-box-shadow: 0 0 0 500px #3F3C3F inset;
    -webkit-text-fill-color: rgba(243,235,232,1);
}

textarea::-webkit-input-placeholder, input::-webkit-input-placeholder {
	color: rgba(243,235,232,0.7);
}

label.inline {
	margin-right: 20px;
}

input.full, textarea.full {
	width: 100%;
	margin-right: 0;
}

.form-with-labels .row {
	margin-top: 10px;
}

.form-with-labels .col-sm-3, .form-with-labels .col-sm-4 {
	text-align: right;
	padding-right: 0;
}

.form-with-labels .col-sm-9, .form-with-labels .col-sm-8 {
	padding-left: 0;
}

.form-with-labels label {
	font-family: "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 0.1em;
	font-weight: 400;
}

/* **** Pagination **** */
.well-sm {
	padding: 2px 0px 5px;
}

.pager li>a, .pager li>span {
	background-color: transparent;
}

.pager li>a:hover, .pager li>span:hover {
	background-color: rgba(243,235,232,.2);;
	color: #F3EBE8;
}

.pager li .glyphicon {
	font-size: 8px;
	margin-top: 5px;
	margin-right: 0px;
	margin-left: 0px;
}

/* **** Table **** */

table.table-striped{
	font-size: 14px;
}

.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
    background-color: rgba(243,235,232,0.15);
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
	padding: 10px;
	line-height: 1.42857143;
	vertical-align: top;
	border-top: 1px solid rgba(243,235,232,1);
}

.table-striped {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin-top: 30px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

.table-striped tbody tr td {
	border-top: 1px solid rgba(243,235,232,0.15);
}

table .icon {
	width: 35px;
	margin: 0 auto;
	cursor: pointer;
	padding: 0px 10px;
}

table .icon.add {
	padding: 0px 20px 0px 0px;
}

table a {
	width: 45px;
	display: block;
}

thead th {
	font-family: "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-size: 13px;
	font-weight: 300;
}

/* **** Dropdowns **** */
.dropdown button {
	padding: 2px 4px;
}

.dropdown-menu {
	background-color: rgba(42,41,44, 1);
}

.dropdown-menu li {
	display: block;
}

.dropdown-menu li a, .dropdown-menu li button {
	color: #F3EBE8;
	width: 100%;
	padding: 10px 22px;
}

.dropdown-menu li form button {
	padding-left: 0;
}

.dropdown-menu li img {
	padding: 0;
	padding-right: 10px;
	width: 24px;
}

.dropdown-menu li a:hover, .dropdown-menu li button:hover {
	background-color: rgba(215,215,215,0.10);
}

/* **** Container **** */
.container {
    display: block;
    position: relative;
    min-height: 650px;
    margin: 50px auto 70px;
	background-color: rgba(215,215,215,0.20);
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
    width: 1060px;
    padding: 0;
	-moz-box-shadow:    inset 0px 1px 2px 0px rgba(230,230,230,0.10);
	box-shadow:         inset 0px 1px 2px 0px rgba(230,230,230,0.10);
}

/* **** General content push **** */
.content {
	margin-left: 230px;
	margin-right: 30px;
}

/* **** Sidebar **** */
.left-nav {
	position: absolute;
	min-height: 650px;
	height: 100%;
	width: 200px;
	float: left;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
    background: rgba(42,41,44, 1);
	-moz-box-shadow:    inset 0px 1px 2px 0px rgba(230,230,230,0.10);
	box-shadow:         inset 0px 1px 2px 0px rgba(230,230,230,0.10);

}

.topbar {
	background-color: #4E2434;
	width: 100%;
	height: 52px;
	margin-bottom: 20px;
	border-top-left-radius: 2px;
	-moz-box-shadow:    inset 0px 1px 2px 0px rgba(230,230,230,0.10);
	box-shadow:         inset 0px 1px 2px 0px rgba(230,230,230,0.10);
}

.topbar h1 {
	margin: 0 auto;
	padding-top: 15px;
	font-size: 14px;
	text-align: center;
	letter-spacing: 1.5px;
	color: #804D49;
	font-family: "Helvetica Neue";
}

.topbar h1 img {
	width: 80px;
}

.topbar .small {
	color: #804D49;
	font-family: "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
	padding-left: 5px;
	letter-spacing: 0.1em;
	font-weight: 400;
}

.mask {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.mask p {
	width: 100px;
	height: 100px;
	background-color: #313033;
	text-align: center;
	padding-top: 25%;
	font-size: 35px;
	font-family: "HelveticaNeue-Thin"
}

.left-nav img.prof-pic {
	max-height: 100%;
}

.left-nav img.prof-pic.admin {
	display: block;
	margin: 0 auto;
	width: 100px;
	height: 100px;
}

.left-nav button {
	margin: 20px auto 30px;
	display: block;
}

.left-nav h2 {
	font-size: 18px;
	text-align: center;
	margin: 20px auto 30px;
	font-family: "HelveticaNeue-Thin";
}

.left-nav .dropdown h2 {
	font-size: 18px;
	text-align: center;
	display: inline-block;
	margin: 0;
	font-family: "HelveticaNeue-Thin";
}

.left-nav .caret {
	margin-left: 7px;
}

.left-nav .dropdown-menu {
	margin-left: 64px;
}

.left-nav .dropdown li {
	text-transform: none;
	font-family: "HelveticaNeue";
	letter-spacing: 1px;
	padding: 0;
}

.left-nav ul {
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-size: 13px;
	margin: 0;
	margin-bottom: 20px;
	padding: 0;
	font-family: "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 400;
}

.left-nav ul li {
	list-style-type: none;
}

.left-nav ul li a {
	display: block;
	margin: 2px 0;
	padding: 10px 20px;
}

.left-nav ul li a:hover {
	text-decoration: none;
}

.left-nav ul li img {
	width: 16px;
	margin-right: 10px;
	margin-bottom: 3px;
}

.left-nav ul li.active {
	background-color: rgba(256,256,256,0.05);
}

.left-nav ul li.active a {
	color: #EB7A71;
}

.logout {
	bottom: 0;
	width: 100%;
	position: absolute;
	padding: 10px 20px 15px;
	background-color: rgba(243,235,232,0.05);
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 13px;
	font-family: "Montserrat", "Helvetica Neue", Helvetica, sans-serif;
}

.logout a:hover {
	text-decoration: none;
}

.logout img {
	width: 16px;
	margin-right: 10px;
	margin-bottom: 3px;
}

/* **** Modal **** */
.modal-content {
	background-color: rgba(36,35,38, 1);
}

.modal select {
	height: 39px;
}

.modal .row{
	padding-bottom: 20px;
}

.modal-header {
	border-bottom: 1px solid rgba(243,235,232,0.1)
}

.modal-header h3 {
	font-family: "Montserrat", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.modal-footer {
	border-top: 1px solid rgba(243,235,232,0.1)
}

/* **** Alert **** */
.alert {
	position: absolute;
	background-color: rgba(243,235,232,0.2);
	top: 0;
	width: 100%;
	border-radius: 0;
	height: 36px;
	padding-top: 7px;
}

.validation {
	display: none;
	color: #EB7A71;
	margin-top: 20px;
}

/* **** Better placeholder text **** */
.form-signin ::-webkit-input-placeholder {
   color: #F3EBE8;
}

.form-signin :-moz-placeholder { /* Firefox 18- */
   color: #F3EBE8;  
}

.form-signin ::-moz-placeholder {  /* Firefox 19+ */
   color: #F3EBE8;  
}

.form-signin :-ms-input-placeholder {  
   color: #F3EBE8;  
}

/****************************/
/****************************/
/********** Login ***********/
/****************************/
/****************************/

body.login:before {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(rgba(0,0,0,0) 40%,rgba(0,0,0,0.8) 100%);
}

.form-signin-heading img {
	width: 230px;
}

.form-signin.form-inline {
	width: 530px;
    padding: 0px;
    margin: 0 auto 0;
    margin-top: 40%;
}

.form-signin h1 {
	margin: 0 0 25px;
}

.form-signin.line-form input:not([type=submit]):not([type=file]) {
    width: 200px;
    padding: 10px 0px 10px;
}

.form-signin ::-webkit-input-placeholder {
   color: #F3EBE8;
}

.form-signin :-moz-placeholder { /* Firefox 18- */
   color: #F3EBE8;  
}

.form-signin ::-moz-placeholder {  /* Firefox 19+ */
   color: #F3EBE8;  
}

.form-signin :-ms-input-placeholder {  
   color: #F3EBE8;  
}

.form-signin a {
	display: block;
	margin-left: 318px;
	margin-top: 8px;
	opacity: 0.6;
	font-weight: 300;
	font-size: 13px;
}

.loginerror {
	margin-top: 10px;
}

/****************************/
/****************************/
/********** User ************/
/****************************/
/****************************/


/* **** Pulse **** */
.pulse {
	display: none;
	position: absolute;
	height: 7px;
	width: 100%;
	top: 0;
	-webkit-animation: pulse 1s alternate infinite;
	-moz-animation: pulse 1s alternate infinite;
}

@-webkit-keyframes pulse {
  0% {
    background: rgba(255,255,255,1);
    box-shadow: inset 0px 0px 10px 2px rgba(117,182,255,0.8),
                      0px 0px 40px 2px rgba(105,135,255,1);
  }
  100% {
    background: rgba(255,255,255,0);
    box-shadow: inset 0px 0px 10px 2px rgba(117,182,255,0.4),
                      0px 0px 30px 2px rgba(105,135,255,0.2);
  }
}
  
@-moz-keyframes pulse {
  0% {
    background: rgba(255,255,255,1);
    box-shadow: inset 0px 0px 10px 2px rgba(117,182,255,0.8),
                      0px 0px 40px 2px rgba(105,135,255,1);
  }
  100% {
    background: rgba(255,255,255,0);
    box-shadow: inset 0px 0px 10px 2px rgba(117,182,255,0.4),
                      0px 0px 30px 2px rgba(105,135,255,0.2);
  }
}


/* **** Line Form **** */

.line-form input:not([type=submit]):not([type=file]) {
    border: 0px; 
    border-bottom: 2px solid #F3EBE8;
	font-family: "HelveticaNeue-Thin";
    background: transparent;
    margin: 20px 20px 0 0;
    border-radius: 0px;
}

.line-form input:not([type=submit]):not([type=file]):focus {
    outline: none;
	  border: none !important;
	  -webkit-box-shadow: none !important;
	  -moz-box-shadow: none !important;
	  box-shadow: none !important;
	 border-bottom: 2px solid #EB7A71 !important;
}

.line-form input:not([type=submit]):not([type=file]):hover {
    background: rgba(243,235,232,.05);
}

.line-form .btn {
	margin-top: 30px;
}


/**************************/
/******** Log page ********/
/**************************/

.log-form {
	margin-left: 260px;
	margin-top: 60px;
}

.log-form input.song {
	font-size: 52px;
	width: 400px;
}

.log-form input.artist {
	font-size: 24px;
	width: 280px;
}

.log-form input.album {
	font-size: 24px;
	width: 460px;
}

.log-form input.hrid {
	font-size: 14px;
	width: 60px;
}

.log-form input::-webkit-input-placeholder {
	color: rgba(243,235,232,.25);
	font-family: "HelveticaNeue-Thin";
}
.log-form input::-moz-placeholder {
	color: rgba(243,235,232,.25);
	font-family: "HelveticaNeue-Thin";
}
.log-form input:-moz-placeholder {   /* Older versions of Firefox */
	color: rgba(243,235,232,.25);
	font-family: "HelveticaNeue-Thin";
}
.log-form input:-ms-input-placeholder { 
	color: rgba(243,235,232,.25);
	font-family: "HelveticaNeue-Thin";
}

.add-name {
	margin: 80px auto 0;
	padding-left: 260px;
	opacity: 0.7;
}

.add-name a {
	text-decoration: underline;
}

.log .btn {
	display: inline-block;
}

/* **** Bottom bar **** */
.bottom-bar {
	height: 46px;
	background-color: rgba(215,215,215,0.2);
	bottom: 0;
	position: absolute;
	width: 860px;
	margin-left: 200px;
	border-bottom-right-radius: 2px;
	text-align: center;
	padding-top: 6px;
}

.bottom-bar button:hover {
	background-color: transparent;
}

.btn-main {
	margin-left: 550px;
	margin-top: 240px;
	display: block;
}

/**************************/
/****** Profile page ******/
/**************************/

.profile-content {
	margin-left: 260px;
	margin-top: 20px;
}

.profile-form h3 {
	margin-bottom: 0;
}

.profile-form.line-form input:not([type=submit]):not([type=file]) {
	font-size: 18px;
	margin: 10px 10px 10px 0px;
}

.profile-form .show-day {
	margin-right: 20px;
}

.profile-form input.band {
	font-size: 16px;
}

.profile-form input[type=file] {
	margin-top: 20px;
	font-size: 12px;
}

.profile-form .band {
	width: 200px;
}

.profile-form textarea {
	margin-top: 20px;
	width: 440px
}

.profile-form .row + .row {
	margin-top: 15px;
}

.profile-form button {
	margin: 0 0 40px;
	width: 140px;
}

.show-name-label {
	margin-right: 10px
}s

/*****************************/
/*****************************/
/********** Admin ************/
/*****************************/
/*****************************/

/*****************************/
/********* Library ***********/
/*****************************/

.form-inline {
	margin-top: 20px;
}

.form-inline .btn {
	margin-top: -2px;
}

.add-album-form {
	display: none;
}

.hr_response {
	display: none;
}

/*****************************/
/********** Charts ***********/
/*****************************/

.charts h2 a {
	font-size: 13px;
	color: #337ab7;
	padding-left: 10px;
}

/*****************************/
/********** Events ***********/
/*****************************/

.in-between {
	padding: 0 10px;
}

.spam_view {
	margin: 0;
	margin-top: 15px;
	display: none;
}

.spam_view img {
	max-height: 200px;
	max-width: 300px;
}

.short-field {
	width: 55px;
}

.end-time {
	display: block;
	margin-top: 10px;
}

.events-form label {
	line-height: 34px;
}

input.med {
	width: 215px;
}

.events-form textarea {
	width: 90%;
}

/*****************************/
/********** Eboard ***********/
/*****************************/

.avatars {
	background-color: rgba(215,215,215,0.20);
	margin-left: -15px;
	padding: 0;
}

.pic-box {
	height: 48px;
	text-align: left;
	display: block;
	padding: 0px 10px;
	font-size: 15px;
	border-bottom: 1px solid rgba(215,215,215,0.20);
	padding-top: 7px;
}

.pic-box img {
	width: 32px;
	height: 32px;
	border-radius: 50px;
	margin: 1px 10px 0 0;
}

.pic-box:hover {
	cursor: pointer;
	background-color: rgba(215,215,215,0.20);
}

.avatars {
	text-align: center;
}

.active-eboarder {
	background-color: rgba(215,215,215,0.20);
}

/*****************************/
/*********** Users ***********/
/*****************************/

.table-users thead tr th:last-child {
	width: 40px;
}

.user-form {
	display: none;
}

.user-form p {
	margin-top: 10px;
}

.user-form .sub {
	font-size: 12px;
	opacity: 0.6;
	display: block;
	margin-bottom: 10px;
}

.user-form input[name='dj-email'] {
	display: none;
}

.users .error {
	color: #EB7A71;
	display: none;
	font-size: 14px;
	margin-left: 20px;
	opacity: 1;
}

.position-modal .modal-content {
	width: 340px;
}

.position-modal .modal-body, .position-modal .modal-footer {
	padding: 15px 30px;
}

.position-modal h4 {
	margin-bottom: 20px;
}

.position-modal input:not([type=submit]):not([type=file]){
	width: 100%;
}

/*****************************/
/********** Manage ***********/
/*****************************/

.manage .col-sm-9  {
	margin-top: 20px;
}

.manage .clear-button {
	margin-top: 37%;
}



